#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background: #878787;
  color: white;
}

.text-gray {
  color: #aaa;
}

/*
  Styling for 'finish session' UI
*/
  
.input-container {
  display: inline-flex;
}

#input-time {
  align-items: center;
  display: inline-flex;
}

.separator {
  margin: 0 10px;
}

.goal-desc-insertion {
  border-left: 2px solid black;
  height: 25%;
}

.goal-desc-insertion-with-text {
  font-style: italic;
  height: 100%;
}

.goal-desc-insertion-empty {
  height: 25%;
}

.progress {
  background: none;
  height: 150px;
  margin: auto;
  width: 150px;
}

#calendar-container{
  float:left; 
  width:45%; 
}
 
#list-container{
  float:right; 
  width:45%; 
}
 
#exercise-header{  
  float:right; 
  width:45%; 
}
 
