#quote-container {
  margin-top: 20px;
}

form {
  margin
}

.bg-1 { 
  background-color: #7a5b31;
  color: #ffffff;
}
  
.bg-2 { 
  background-color: #8d8741;
  color: #ffffff;
}
  
.bg-3 { 
  background-color: #b89b1a;
  color: #070101;
}

.bg-4 { 
  background-color: #fbeec1;
  color: #555555;
}

.bg-5 { 
  background-color: #b89b1a;
  color: #555555;
}

.bg-6 { 
  background-color: #bc986a;
  color: #ffffff;
}
  
.column {
  flex: 1 1 auto;
  padding: 5px;
}

.container-fluid {
  padding: 70px 0;
}

.desc {
  font-size: 16px;
  margin: auto;
  width: 80%;
}

.image-format {
  border: 10px solid black;
  max-width: 80%;
}

.margin {
  margin-bottom: 45px;
}

.navbar {
  border: 0;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 5px;
  padding: 15px 0;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important; /*Color gets lost on hover, need priority for constrast*/
}

.row {
  display: flex;
}

.theme {
  color: #f5f6f7;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
}